.contacto-section{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}
.contacto-section p{
    font-family: $font-secundaria;
    color: $color-texto-fondo-oscuro;
    font-size: 25px;
    margin: 50px;
}

.formulario-div{
    @include flex;
    margin: 50px;
}
.formulario{
    width: 400px;
    background-color: $color-texto-fondo-clarito;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-family: $font-secundaria;
    display: block;
    font-weight: bold; /* negrita*/
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px;
    border-radius: 5px;
}

.form-group input[type="submit"] {
    background-color: $color-texto-fondo-oscuro;
    color: $color-texto-fondo-clarito;
}


@media(max-width:1152px){
    .contacto-section img{
        width: 100px;
    }
    .contacto-section p{
        background-color: #F9ECCC;
    }
    .formulario{
        background-color: aqua;
        width: 250px;
    }
}

@media(max-width: 587px){
    .contacto-section p{
        font-size: 15px;
        color: #0E5B30;
    }
}

