.historia-1 p{
    font-family: $font-secundaria;
    color: $color-texto-fondo-oscuro;
}
.historia-2 p{
    font-family: $font-secundaria;
    color: $color-texto-fondo-oscuro;
}
.img-historia {
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    grid-gap: 20px;
}
.img-historia img{
    width: 100%;
    height: auto;
}
.foto-cartel img{
    width: 100%;
    height: auto;
}
.color-card{
    background-color: $color-texto-fondo-clarito;
}