.contenedor{
    background-image: url(../assets/servicio-fondo.png);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto; 
    gap: 20px; 
    justify-items: center; 
    align-items: center; 
    min-height: 500px; 
}

.cuadro{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    background-color: $color-texto-fondo-clarito;
    width: 200px;
    height: 200px;
    margin: 10px;
}

.info-servicios{
    text-align: center;
    margin: 50px;
}
.servicio-info p{
    font-family: $font-secundaria;
    color: $color-texto-fondo-clarito;
}
.imagen-servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:  50px 25px 50px 25px;
}

